<!DOCTYPE html>
<html lang="en">
<head>
  <title>Board</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Board</h2>
  <table class="table">
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hello</td>
        <td>kelvin</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>andrew</td>
      </tr>
      <tr>
        <td>See you</td>
        <td>michael</td>
      </tr>
    </tbody>
  </table>
    <button type="submit" class="btn btn-primary">작성</button><button type="submit" class="btn btn-primary">삭제</button><input type="text" class="form-control" id="usr" name="title">
</div>

</body>
</html>

